.Header{
  font-family: 'Poppins', sans-serif;

  background-color: #1a1a1b;
  height: 50px;
  width: 100vw;
  border-bottom: 1px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(61, 61, 61);
  border-style: solid;
  display: flex;
  position:fixed;
  top:0;
  flex-direction: row;
  padding: 3px;
  justify-content:space-between;
  align-items:center;
  padding-left: 10px;
  padding-right: 10px;
}
.imgSize{
  height: 100%;
  margin-right: 10px;
}
.home{
  width: 300px;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
  color: white;
}
.cen{
  display: flex;
  align-items: center;
}
.dummyBorder{
  height: 30px;
  border-left: 1px;
  border-style: solid;
  border-color: rgb(39, 39, 39);
}
.headerSearch{
  display: flex;
  align-items: center;
  background-color:#272729;
  height: 90%;
  /* width: 35vw; */
  flex: 1;
  border-radius: 50px;
  border: 1px;
  border-style: solid;
  border-color: #272729;
  padding-left: 10px;
  /* align-self: stretch; */
}
.whit{
  color: grey;
}
.fontSize{
  font-size: 2.5vh;
}
.headerRightIcons{
  display: flex;
  justify-content: row;
  color: white;
  align-items:center;
  font-size: 25px;
  /* //TODO: remove margin after adding more components */
  margin-left: 10px;
  margin-right: 20px;
}
.ico{
  display: flex;
  align-items:center;
  /* border-radius: 8px; */
  margin: 2px;
  padding: 5px;
}
.ico:hover{
  background-color:rgb(41, 41, 41);
}
.adv{
  display: flex;
  align-items:center;
  color: white;
  background-color: rgb(54, 54, 54);
  border-radius: 25px;
  font-size: 15px ;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.Body{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color:#030303;
  margin-top: 50px;
  padding: 15px;
  color: white;
}
.postPage{
  display: flex;
  flex-direction: column;
  width: 600px;
}

.userBadge{
  display: flex;
  flex-direction: row;
  align-items:center;
  width: 200px;
  justify-content: space-between;
}
.avatar{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: white;
}
.userBadge1{
  display: flex;
  flex-direction: column;
  font-size:15px;
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #353535;
}
::-webkit-scrollbar-thumb {
  background: rgb(167, 167, 167);
}
.Post{
  display: flex;
  flex-direction: row;
  height: 600px;  
  border-radius: 5px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  margin-top: 10px;
}
.communityDP{
  display: flex;
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: white;
  margin: 4px;
}

.Post1{
  display: flex;
  flex-direction: column;
  align-items:center;
  flex: 1;
  background-color:rgb(22, 22, 22);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size:20px;
  color: rgb(81, 81, 81);
  padding: 8px;
}
.Post2{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8px;
  background-color: rgb(35, 35, 35);
  justify-content:space-between;
}
.PostTitle{
  display: flex;
  margin: 4px;
  align-items: flex-end;
}
.flare{
  height: 14px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: teal;
  border-radius: 50px;
  font-size: 15px;
}
.PostImg{
  display: flex;
  flex: 1;
  margin-bottom: 10px;
  align-items: center;
}
.PostImg1{
  height: auto;
  width: 100%;
}
.Post21{
  display: flex;
  flex-direction: row;
  align-items:center;
  font-size: 15px;
}
.Post21DarkText{
  color: rgb(114, 114, 114);
  font-size: 15px;
}
.PostComments{
  display: flex;
  flex-direction: row;
  font-size: 15px;
  color: grey;
  align-items:center;
  width: 65%;
  justify-content:space-between;
}
.postVotes{
  font-size: 13px;
  color: grey;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sidePage{
  display: flex;
  flex-direction: column;
  width: 16vw;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
}
.topComm{
  display: flex;
  height: 40vh;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  margin-bottom: 20px;
}
.redditPremium{
  display: flex;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  margin-bottom: 20px;
}
.tryPreBut{
  display: flex;
  flex:1;
  justify-content:center;
  background-color:orangered;
  padding: 10px;
  border-radius: 25px;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sideHome{
  display: flex;
  flex-direction: column;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  margin-bottom: 20px;
} 
.userAgr{
  display: flex;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
}
.createPost{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  font-size: 25px;
  color: grey;
  margin-top: 10px;
}
.createPostTextfield{
  display: flex;
  align-items: center;
  width: 75%;
  padding: 10px;
  background-color: rgb(50, 50, 50);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

.createPostCircleAv{
  height:30px;
  width:30px;
  border-radius: 20px;
  background-color: white;
}
.bestTop{
  display: flex;
  background-color:rgb(35, 35, 35);
  border-radius: 5px;
  padding: 10px;
  border: 1px;
  border-color: rgb(57, 57, 57);
  border-style: solid;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.bestTopButton{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-radius: 25px;
  background-color:rgb(47, 47, 47);

}
.bestTopButtonGroup{
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content:space-around;
  align-items: center;
}